<div id="secondary">
    <nav class="margin10">
        <ul class="nav nav-tabs nav-stacked">
            <li><a href="#/create/info"><i class="icon-chevron-right pull-right"></i> 1. Info</a></li>
            <li><a href="#/create/overview"><i class="icon-chevron-right pull-right"></i> 2. Overview</a></li>
            <li><a href="#/create/add"><i class="icon-chevron-right pull-right"></i> 3. Add Expense</a></li>
            <li class="active"><a href="#/create/sign"><i class="icon-chevron-right pull-right"></i> 4. Sign &amp; Send</a>
            </li>
        </ul>
    </nav>
</div>

<div id="primary">
    <div class="margin10">
        <div class="fluid-container">
            <div class="navbar row-fluid">
                <div class="navbar-inner">
                    <span class="brand-center">4. Sign &amp; Send</span>
                </div>
            </div>

            <form class="form">
                <div class="controls row-fluid">
                    <canvas class="span12" style="height: 100px;">
                        Signature
                    </canvas>
                </div>

                <div class="controls row-fluid">
                    <textarea class="span12" placeholder="Remarks"></textarea>
                </div>

                <div class="controls row-fluid">
                    <span class="span6">Status notifications via Email</span>
                    <div class="btn-group span6">
                        <button class="btn">On</button>
                        <button class="btn">Off</button>
                    </div>
                </div>

                <div class="form-actions">
                    <div class="pull-left">
                        <a class="btn" href="#/create/add">Back</a>
                    </div>
                    <div class="pull-right">
                        <a class="btn btn-primary" href="#/">Sign</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>