<ul class="list-group">
    <li class="list-group-item">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <a href="#/wizard/info">1. Your info</a>
    </li>
    <li class="list-group-item">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <a href="#/wizard/overview">2. Overview</a>
    </li>
    <li class="list-group-item">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <a href="#/wizard/add">3. Add Expense</a>
    </li>
    <li class="list-group-item">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <a href="#/wizard/sign">4. Sign &amp; Send</a>
    </li>
</ul>